{
  "extends": [
    "eslint:recommended",
    "airbnb",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "settings": {
    "react": {
      "pragma": "h",
      "version": "detect"
    }
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true
      }
    ],
    "no-console": "error",
    "no-empty": "off",
    "semi": "error",
    "keyword-spacing": "error",
    "require-atomic-updates": "off",
    "react/button-has-type": "off",
    "react/function-component-definition": "off",
    "react/no-string-refs": "error",
    "react/no-find-dom-node": "error",
    "react/no-is-mounted": "error",
    "react/jsx-no-comment-textnodes": "error",
    "react/jsx-curly-spacing": "error",
    "react/jsx-no-undef": "error",
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/jsx-filename-extension": [
      "error",
      { "extensions": [".tsx"] }
    ]
  }
}
