.draggable {
  user-select: none;
  transform: translate(0, 0);
  transition: transform 0.1s ease-out;
  z-index: inherit;
}

.draggable--dragging {
  transition: none;
  z-index: 999;
}

.draggable--dragging * {
  cursor: grabbing;
}
